<form action="" class="plant-form" id="customize-plant">
  <fieldset class="plant-form-fieldset">
    <legend class="plant-form-legend">Choose your pot:</legend>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="radio"
        name="potMaterial"
        id="clay"
        value="clay"
      />
      <label for="clay">Clay</label>
      <input
        class="plant-form-input"
        type="radio"
        name="potMaterial"
        id="ceramic"
        value="ceramic"
      />
      <label for="ceramic">Ceramic</label>
    </div>
  </fieldset>
  <fieldset class="plant-form-fieldset">
    <legend class="plant-form-legend">Pot decorations</legend>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="checkbox"
        name="potDecoration"
        id="pot-decoration-trigger"
      />
      <label id="pot-decoration-trigger-label" for="pot-decoration-trigger">No</label>
    </div>
    <div class="plant-form-box">
      <legend class="plant-form-legend">Pot color</legend>
      <input
        class="plant-form-input"
        type="checkbox"
        name="color_trigger"
        id="pot-color-trigger"
      />
      <label id="pot-color-trigger-label" for="pot-color-trigger">No</label>
      <div class="pot-color-container">
        <input
          class="plant-form-input"
          type="radio"
          name="potColor"
          id="blue-pot"
          value="blue"
        />
        <label for="blue-pot">Blue pot</label>
        <input
          class="plant-form-input"
          type="radio"
          name="potColor"
          id="pink-pot"
          value="pink"
        />
        <label for="pink-pot">Pink pot</label>
        <input
          class="plant-form-input"
          type="radio"
          name="potColor"
          id="green-pot"
          value="green"
        />
        <label for="green-pot">Green pot</label>
        <input
          class="plant-form-input"
          type="radio"
          name="potColor"
          id="purple-pot"
          value="purple"
        />
        <label for="purple-pot">Purple pot</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="plant-form-fieldset">
    <legend class="plant-form-legend">Choose your soil:</legend>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="radio"
        name="soilCustomize"
        id="composted"
        value="composted"
      />
      <label for="composted">Basic composted soil</label>
    </div>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="radio"
        name="soilCustomize"
        id="fertilized"
        value="fertilized"
      />
      <label for="fertilized">Premium fertilized soil</label>
    </div>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="radio"
        name="soilCustomize"
        id="drainage"
        value="drainage"
      />
      <label for="drainage">Easy drainage soil</label>
    </div>
  </fieldset>
  <fieldset class="plant-form-fieldset">
    <label class="plant-form-legend" for="new-plant-form">Choose your plant:</label>
    <select name="name" id="new-plant-form">
      <option value="aglaonema">aglaonema</option>
      <option value="aloe-vera">aloe-vera</option>
      <option value="boston-fern">boston-fern</option>
      <option value="cactus">cactus</option>
      <option value="monstera">monstera</option>
      <option value="peace-lily">peace-lily</option>
      <option value="sansevieria">sansevieria</option>
    </select>
  </fieldset>
  <fieldset class="plant-form-fieldset">
    <legend class="plant-form-legend">Choose your extras:</legend>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="checkbox"
        name="extrasCustomize"
        id="moss-pole"
        value="moss-pole"
      />
      <label for="moss-pole">Moss pole</label>
    </div>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="checkbox"
        name="extrasCustomize"
        id="pebbles"
        value="pebbles"
      />
      <label for="pebbles">Pebbles</label>
    </div>
    <div class="plant-form-box">
      <input
        class="plant-form-input"
        type="checkbox"
        name="extrasCustomize"
        id="mini-plants"
        value="mini-plants"
      />
      <label for="mini-plants">Mini plants</label>
    </div>
  </fieldset>
</form>