* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

body {
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.joke-product-info {
  flex-grow: 1;
}

.jokes-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 40vw;
  gap: 20px;
}

.dad-img {
  margin: 0 auto;
  width: 300px;
}

.jokes-container {
  background-color: rgb(228, 228, 228);
  padding: 20px 40px;
  border-radius: 5px;
}

.joke-text {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  min-height: 20px;
}

.joke-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: solid 2px rgb(120, 120, 120);
  margin-top: 20px;
}

.joke-btn--modified {
  margin: 0;
}

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#searchJoke {
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: solid 2px rgb(120, 120, 120);
}

#searchJokeContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.cart-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.cart-panel-btn {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  cursor: pointer;
}

.cart-panel-btn:hover .cart-icon-open,
.cart-panel-btn:hover .cart-icon-close {
  transform: scale(0.85);
}

.cart-icon-close {
  display: none !important;
}

.cart {
  display: none;
  position: relative;
  padding: 10px 30px;
  width: 20vw;
  background-color: rgb(228, 228, 228);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.cart-open .cart {
  display: initial;
}

.cart-open .cart-icon-open {
  display: none !important;
}

.cart-open .cart-icon-close {
  display: initial !important;
}

.cart-item-wrapper {
  padding: 20px;
}

.cart-item {
  margin-bottom: 20px;
}

.cart-item span {
  display: block;
  margin-bottom: 5px;
}

.cart-title {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
}

.cart-item__title:first-letter {
  text-transform: uppercase;
}

.cart-item__price,
.cart-item__joke {
  font-weight: 400;
}

#cart-item-wrapper {
  height: 100%;
  overflow-y: auto;
}

#remove-all-cart {
  padding: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.cart-item__btn {
  padding: 5px;
  margin-top: 10px;
}
